.popup_contact {
    max-width: 480px;
}
.container {
    max-width: 300px;
    width: 300px;
}
#know-your-motivation, #watch-films, #listen-to-music {
    display: none;
}
.text_block {
    padding: 0;
    position: absolute;
    top: 250px;
}
.text_block h1, .text_block span {
    font-size: 50px;
}